.dialog-label {
    -fx-border-color: #d55e00 #009e73 #cc79a7 #0072b2;
    -fx-border-width: 2px;

    -fx-background-radius: 1em 1em 0 1em;
    -fx-border-radius: 1em 1em 0 1em;

    -fx-text-fill: rgb(247, 124, 146);
    -fx-background-color: white; /* default bubble color */
}

.reply-label {
    -fx-background-radius: 1em 1em 1em 0;
    -fx-border-radius: 1em 1em 1em 0;
}

/* User message bubble (optional, but keeps user consistent) */
.user-label {
    -fx-background-color: white;
}

/* Command-based colors */
.add-label {
    -fx-background-color: yellow;
}

.marked-label {
    -fx-background-color: palegreen;
}

.delete-label {
    -fx-background-color: lightpink;
}

#displayPicture {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 5, 5);
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-rotate: 0;
}
